<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.KafkaAppender"/>
	</extensions>

	<targets>

		<target xsi:type="File"
            name="allfile"
            fileName="C:\Users\Administrator\source\repos\maryam0707\OnlineShoppingAPI\OnlineShoppingAPI\OnlineShoppingAPI\logs\nlog.txt"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} ${logger:shortName=true} - ${message}" 
		/>

		<!--xsi:type="Kafka"-->
		<!--xsi:type="KafkaAsync"-->
		<target
                xsi:type ="KafkaAppender"
                name="kafka"
                topic="onlineShopping"
                brokers = "localhost:9092"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${message}"
                />

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="*" minlevel="Info" writeTo="kafka" />
		<!--<logger name="OnlineShoppingAPI.*" minlevel="Debug" writeTo="kafka" />-->
	</rules>
</nlog>
